#loginButton {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#deleteButton {
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}